.git
.github
.env
.venv
venv
__pycache__
*.py[cod]
*.log
*.pdf
data
db
tests
dist
.vercel
node_modules
.vercelignore
.gitattributes
.gitignore
.env.example
README.md
package.json
scripts
vercel.json
render.yaml
